# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

*/Debug/*

# Loggeo del CPU
cpu/logs_cpu.txt
cpu/logs_cpu_historial.txt

*.txt
*.log
